<% if signed_in? %>
  <div class="row">
    <div class="span12">
      <%= render 'shared/question_form_header' %>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <%= render 'shared/question_form' %>
    </div>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1>Money Maker</h1>
    <h2>Sign up to request an account.</h2>
    <%= link_to "Sign up now!", signup_path, 
        class: "btn btn-large btn-primary" %>
  </div>
<% end %> 

<script type="text/javascript">

function toUSD(number) {
    var number = number.toString(), 
    dollars = number.split('.')[0],
    dollars = dollars.split('').reverse().join('')
        .replace(/(\d{3}(?!$))/g, '$1,')
        .split('').reverse().join('');
    return '$' + dollars;
}

$(document).ready(function(){
  $('.bar').popover({placement:'top', trigger:'hover'});
  $('#slider').slider({
    min:0, 
    max:100,
    step:5,
    change: function(event, ui){
      addIncome(ui.value);
    }});
});

$('#incomeBoost').change(function(){
  addIncome($('#slider').slider("option", "value"));
});

$('#incomeVal').click(function(){
  $('#incomeBoostSpan').toggle();
});

$('#saveIncome').click(function(){
  var balance=Number($('#incomeVal').html().replace(/[^0-9\.]+/g,"")),
      initialBalance=$('#incomeVal').attr('cash');
  var cashAccount={
    name: "Cash",
    balance: balance,
    initial_balance: initialBalance
    }
  $.ajax({url: "accounts",
          type: 'post',
          dataType: 'json',
          data: {account:cashAccount} 
  }).success( function() {  
    $('#incomeBoostSpan').hide();
    $('#incomeVal').attr('cash', balance);
  });
});

$('#cancelIncome').click(function(){
  $('#incomeBoostSpan').toggle();
  $('#incomeBoost').val(null);
  $('#cancelIncome').hide();
  $('#saveIncome').hide();
  addIncome($('#slider').slider("option", "value"));
});

function addIncome(value){
  var addIncome = parseInt($('#incomeBoost').val()) || 0,
      incomeBoost= addIncome*(value*.01),
      total=parseInt($('#incomeBar').attr('max-value'))+incomeBoost,
      newIncome=parseInt($('#incomeVal').attr('cash'))+incomeBoost,
      newWidth=(newIncome/total)*100+'%',
      expenseWidth=0,
      debtInitialBalance=parseInt($('#debtBar').attr('total')),
      debtVal=parseInt($('#debtBalance').attr('balance'))-(addIncome-incomeBoost),
      debtWidth=(debtVal/debtInitialBalance)*100+'%';
  $(".expense").each(function(index, object){
   expenseWidth = (Number($(this).attr('data-content').replace(/[^0-9\.]+/g,""))/total)*100+'%';
    $(this).width(expenseWidth);
  });
  $('#debtBar').width(debtWidth);
  $('#debtBalance').html(toUSD(debtVal));
  $('#incomeBar').width(newWidth);
  $('#incomeVal').html(toUSD(newIncome));
  if (addIncome) {
    $('#saveIncome').show();
    $('#cancelIncome').show();
  }
}

/* $('.flowHeader').hover(function(){
  var name=$(this).html();
  $('.'+name).popover('show');
}, function(){
  $('.'+name).popover('hide');
  }
);*/

$('.flow-input').change(function () {
  var id=this.id.substr(6),
      value=$(this).val(),
      date=$('#date_tag').attr('date');
  if (!value) value=parseInt($(this).attr('placeholder'));
  var transaction={
    flow_id: id,
    value: value,
    transaction_date: date
    }
  $.ajax({url: "transactions",
          type: 'post',
          dataType: 'json',
          data: {transaction:transaction} 
  }).success( function() {  
    $('#input_'+id).popover({placement: 'left', content: "Saved Flow", trigger: "manual"});
    $('#input_'+id).popover('show');
    oldValue=$('#input_'+id).attr('placeholder');
    $('#input_'+id).attr('placeholder', value);
    newIncome=parseInt($('#incomeVal').attr('cash'))-(value - oldValue);
    $('#incomeVal').html(toUSD(newIncome));
    $('#incomeVal').attr('cash', newIncome);
  });
});

$('.flow-input').focus(function() {
  $('.popover').hide('fast'); 
});

$('.note_area').focus(function() {
  $('.popover').hide('fast'); 
});

$('body').hover(function(){
  $('.popover').hide('fast'); 
});

$('.note_button').click(function(){
  var id=this.id.substr(11);
  $('#notes'+id).toggle();
});

$('.note_area').change(function () {
  var id=this.id.substr(5),
      description=$(this).val(),
      date=$('#date_tag').attr('date');
  $.ajax({url: "transactions/"+id,
          type: 'put',
          dataType: 'json',
          data: {description:description, date:date} 
  }).success( function() {  
    $('#notes'+id).popover({placement: 'right', content: "Saved", trigger: "manual"});
    $('#notes'+id).popover('show');
  });
});

$('#no_expense_btn').click(function(){
  var r=confirm("Are you sure?");
  var date=$('#date_tag').attr('date');
  if (r==true) {
    $.ajax({url: "empty_day",
            type: 'post',
            data: {date:date},
            dataType: 'json'}).success(function(){
              $('.flow-input').val('0');
              window.location="/"
            });
  }
});

</script>