@import "bootstrap";
@import "compass";

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align:center;
  h1 {
    margin-bottom: 10px;
}}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
}}
.navbar-inner{
  background:black;
  }
.navbar .nav > li > a{ color:white; text-shadow:none;}  

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: #555;
    &:hover { 
      color: #222;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* misc */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.progress {
.Bills {
    background-color: rgb(167,199,220); // Old browsers
@include filter-gradient(#a7c7dc, #85b2d3, vertical); // IE6-9
@include background-image(linear-gradient(top, rgba(167,199,220,1) 0%,rgba(133,178,211,1) 100%));
    }
    .Events{
      background-color: rgb(241,231,103); // Old browsers
@include filter-gradient(#f1e767, #feb645, vertical); // IE6-9
@include background-image(linear-gradient(top, rgba(241,231,103,1) 0%,rgba(254,182,69,1) 100%));
    }
    .Food{
      background-color: rgb(242,130,91); // Old browsers
      @include filter-gradient(#f2825b, #f07146, vertical); // IE6-9
      @include background-image(linear-gradient(top, rgba(242,130,91,1) 0%,rgba(229,91,43,1) 50%,rgba(240,113,70,1) 100%));    
    }
    .Groceries{
      background-color: rgb(205,235,142); // Old browsers
      @include filter-gradient(#cdeb8e, #a5c956, vertical); // IE6-9
      @include background-image(linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%));
    }
    .Stuff{
      background-color: rgb(255,255,255); // Old browsers
      @include filter-gradient(#ffffff, #e5e5e5, vertical); // IE6-9
      @include background-image(linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%));
    }
}
/* sidebar */
aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.stats {
  overflow: auto;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

/* forms */
.note_button{
  margin-left:5px;
  height:55px;
}

.note_area{
  display:none;
  height:55px;
  margin-bottom:0px;
  @include box_sizing;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.popover.fade.top {
  margin-top:-15px;
  .popover-title{
    display:block;
    color:black;
    font-size:12px;
    font-weight:bold;
    text-align:center;
    padding:0;
  }
  .popover-inner{
  font-size: 14px;
}
}

.flow_bar_title{
  margin-right: 5px;
}

.form-inline{
}

.center_flow{
  text-align:center;
  position:fixed;
  width:300px;
  left:0px;
  bottom:0px;
  border: 1px solid blue;
  margin: 0 auto;
  @include box-sizing;
  }

.field_with_errors {
  @extend .control-group;
  @extend .error;
 }

 /* users index */
 .users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* microposts */
.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}

.question_header{
  width:100%;
  display:block;
  input[type="submit"].btn-block {
    width: 100%;
  }
}

.Bills{
background-color: rgb(167,199,220); // Old browsers
@include filter-gradient(#a7c7dc, #85b2d3, vertical); // IE6-9
@include background-image(linear-gradient(top, rgba(167,199,220,1) 0%,rgba(133,178,211,1) 100%));
}
.Events{
      background-color: rgb(241,231,103); // Old browsers
@include filter-gradient(#f1e767, #feb645, vertical); // IE6-9
@include background-image(linear-gradient(top, rgba(241,231,103,1) 0%,rgba(254,182,69,1) 100%));
    }
.Food{
background-color: rgb(242,130,91); // Old browsers
@include filter-gradient(#f2825b, #f07146, vertical); // IE6-9
@include background-image(linear-gradient(top, rgba(242,130,91,1) 0%,rgba(229,91,43,1) 50%,rgba(240,113,70,1) 100%)); }
.Groceries{
      // needs latest Compass, add '@import "compass"' to your scss
      background-color: rgb(205,235,142); // Old browsers
      @include filter-gradient(#cdeb8e, #a5c956, vertical); // IE6-9
      @include background-image(linear-gradient(top,  rgba(205,235,142,1) 0%,rgba(165,201,86,1) 100%));
    }
.Stuff{
      // needs latest Compass, add '@import "compass"' to your scss
      background-color: rgb(255,255,255); // Old browsers
      @include filter-gradient(#ffffff, #e5e5e5, vertical); // IE6-9
      @include background-image(linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%));
    }
  
.incomeBoost{
  
}
  
#slider{ margin:10px;}
  
.question_content{
  display: block;
  
  vertical-align:bottom;
  .add-on{
    font-size:40px;
    }
  h3{
    font-size:40px;
    float:left;
    width:400px;
    padding-left:10px;
    }
  input[type="text"]{
    font-size:40px;
    height:auto;
    text-align:right;
    line-height:45px;
  }
  input[type="submit"]{
    font-size:20px;
  }
  .add-on{
    padding-top:17px;
    height:33px;
    background-color:$grayLighter;
  }
}

.popover{
  width:200px;
}

.popover-title{
    display:none;
  }
.popover-content{
  padding:0 15px;
  text-align:center;
  }
.popover-inner{
  font-size: 20px;
  color: green;
}
  
  
.save-flow{
  display:none;
  }
  
.timestamp {
  color: $grayLight;
}
.highlight_date{
  color:red;
}

.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}
